<div class="container">
    <%= image_tag @artist.img_url %>
    <h2>Artist: <%= @artist.name%> </h1>

    <p>Bio: <%= @artist.bio%></p>
</div>

<% @artist.videos.each do |video| %>
    <ul><ul><ul><ul><ul>
    <li><%= link_to video.title, video %></li>
    </ul></ul></ul></ul></ul>
<% end %>