<%= image_tag @director.img_url %>
<h2>Director: <%= @director.name%> </h1>

<p>Bio: <%= @director.bio%></p>

<% @director.videos.each do |video| %>
    <ul>
    <li><%= link_to video.title, video %></li>
    </ul>
<% end %>