<div class="videos_index_title">
    <h1 class="text-center">Music Videos</h1>
</div>
<div class="container">
    <div class="row">
        <%@videos.each do |video|%>
            <div class="col-sm">
                <div class= "card border-primary mb-3" style="max-width: 18rem;">
                    <%= link_to image_tag(video.img_url, class:"card-img-top"), video%>
                    <div class="card-body">
                        <h4 class="card-title"><%= link_to video.title, video %></h2>
                        <p class="card-text">Artist: <%= link_to video.artist.name, artist_path(video.artist) %></p>
                        <p class="card-text">Director: <%= link_to video.director.name, director_path(video.director) %></p> 
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>
